body{
    background-color:beige;
}
h1{
    color:cornflowerblue;
    transition: color -.5s ease-in-out;
}

.clicked{
    color:tomato;
}

.sexy-font {
    font-family:'Courier New', Courier, monospace;
    /* h1에 class=sexy-font를 줬을 때, js를 준다면 이는 사라지고, js에서 준 className이 생긴다 */
}